body {
    background-image: url("./images/bee-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: lightgrey;

}

.inner-container {
    margin: 0 40px;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    background: #fff;
}

.footer {
    background: #5F6062;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.subtle {
    font-size: 12px;
    color: #aaa;
}